@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: " Norican ", cursive;
  font-family: " Raleway ", sans-serif;

}

a {
  text-decoration: none;
  color: #50332e;
}

.bar {
  background-color: #b7957f;
}

h1, h2 {
  color: white;
  font-family: " Norican ", cursive;
}

.section-header {
  color: #b7957f;
}

.nav {
  color: #50332e;
  text-align: left;

}

.nav a:hover {
  color: white;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-content {
  color: white;
  position: absolute;
  left: 0%;
  bottom: .5px;
}

.btn {
  border: .2px solid #333;
  background-color: #b7957f;
  color: white;
}

.btn a:hover {
  color: #50332e;
}

section {
  text-align: center;
}

.line-bar {
  border-top: .5px solid #b7957f;
}

img {
  width: 100%;
}

footer {
  background: url("../images/bomb.svg") center bottom / cover;
  background-size: 67px auto;
  background-color: #50332e;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .about-text {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .location-text {
    text-align: left;
  }

  .banner-content {
    color: white;
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 10%;
  }
}
